@charset "utf-8";
/*! bulma.io v0.9.3 | MIT License | github.com/jgthms/bulma */

$orange: #f57e25;
$green: #00a651;
$blue: #009cd7;
$purple: #662d91;
$red: #ed1c24;

$primary: #0066b3;

$family-sans-serif: "Fira Sans", sans-serif;
$family-serif: "Lora", serif;

$family-primary: $family-serif;

@import "sass/utilities/_all";
@import "sass/base/_all";
@import "sass/elements/_all";
@import "sass/form/_all";
@import "sass/components/_all";
@import "sass/grid/_all";
@import "sass/helpers/_all";
@import "sass/layout/_all";

h1, h2, h3, h4 {
  font-family: $family-serif;
  font-weight: 700;
  line-height: 1.0;
  margin-bottom: 0.5em;
}

h1 {
  @extend .is-size-1;
}

h2 {
  @extend .is-size-3;
  border-bottom: thick solid $primary;
}

h3 {
  @extend .is-size-4;
}

h4 {
  font-size: 1.33rem;
  text-decoration: underline;
  font-weight: 600;
}

h5 {
  @extend .is-size-5;
  font-weight: 700;
}

p {
  margin-bottom: 0.5em;
}

img {
  width: 100%;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

html {
  overflow: hidden;
}

nav {
  background-color: $primary;
  color: white;

  height: 100vh;
  width: 100vw;
  display: none;


  padding: 1rem;

  h1 {
    text-align: center;
    color: white;
    margin-bottom: 0;
  }

  @include desktop {
    width: 32rem;
    max-width: 20vw;
    display: block;
  }

  .masthead {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      height: 6rem;
    }
  }

}

main {
  height: 100vh;
  overflow-y: scroll;
}

article {
  h3 {
    margin-left: 2rem;
  }

  h4 {
    margin-left: 4rem;
  }

  h5 {
    margin-left: 5rem;
  }

  p {
    margin-left: 6rem;
    margin-right: 6rem;
  }

  padding: 1rem 0;
  margin: 1rem 0;
}

#toc {
  a {
    color: white;
    margin-left: 1em;

    &:hover, &:active {
      text-decoration: underline;
    }
  }

  .toc-big-section {
    font-size: 1.33em;
    font-weight: 600;
    a {
      margin-left: 0;
    }
    
  }

  .toc-section a {
    font-weight: 600;
    margin-left: 0.5em;
  }

  .divider {
    border-top: thin solid white;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  li.draft {
    a {

    }
  }
}