<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>FIRST Indiana Robotics Policy Manual</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lora:ital,wght@0,400;0,600;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0aa9b30352.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "bulma" %>
    <%= javascript_include_tag "turbo.min" %>
  </head>
  <body>
    <nav id="nav" clas="section">
      <div class="masthead">
        <%= image_tag 'logo.png' %>
        <h1>Policy Manual</h1>
      </div>

      <ul id="toc">
        <li class="divider"></li>
        <li class="toc-big-section"><a href="/">Home</a></li>
        <li class="divider"></li>
        <li class="toc-big-section"><a href="/bylaws">Corporate Bylaws</a></li>
        <li class="divider"></li>
        <li class="toc-big-section"><a href="/orgChart">Board &amp; Staff Org Chart</a></li>
        <li class="divider"></li>
        <li class="toc-big-section"><a href="/policies">Policies</a></li>
        <% data.sections.each do |code, title| %>
          <li class="toc-section"><a href="/policies#section-<%= code %>"><%= code %> - <%= title %></a></li>
          <% sitemap.resources.select { |r| r.path.match?(/^policies\//) && r.data[:section] == code}.sort_by{|r| r.data[:number] }.each do |policy| %>
            <% if policy.data[:draft] %>
              <li class="draft"><a href="/policies#<%= policy.data[:section] %>.<%= policy.data[:number] %>">DRAFT <%= policy.data[:title] %></a></li>
            <% else %>
              <li><a href="/policies#<%= policy.data[:section] %>.<%= policy.data[:number] %>"><%= policy.data[:section] %>.<%= policy.data[:number] %> <%= policy.data[:title] %></a></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </nav>

    <main class="section">
      <div class="container">
        <% if current_page.data&.document&.title %>
          <h2><%= current_page.data.document.title %></h2>
        <% end %>
        <%= yield %>  
      </div>
    </main>
  </body>
</html>
