<h1>CODE OF BY-LAWS OF INDIANAFIRST , INC.</h1>
<% sitemap.resources.select { |r| r.path.match?(/^bylaws\//) }.sort_by{|r| r.source_file.split('/').last.to_i }.each do |bylaw| %>
  <article>
    <h2><%= bylaw.data[:title] %></h3>

    <%= ad File.read(bylaw.source_file) %>
  </article>
<% end %>