<h2>Welcome to the FIN Policy Manual!</h2>

<br>

<div class="columns">
  <div class="column">
    <h3><a href="/ArticlesOfIncorporation.pdf" target="_blank">Articles of Incorporation</a></h3>
    <p>
      This is the document we filed to create & register ourselves with the state.
    </p>
    <h3><a href="/bylaws">Corporate Bylaws</a></h3>
    <p>
      The bylaws are our rules for how we operate.
    </p>
  </div>
  <div class="column">
    <h3><a href="/policies">Policies</a></h3>
    <p>
      Our policies get into finer detail about how we conduct business, but aren't as binding &amp; and are easier to change than the bylaws.
    </p>
  </div>
  <div class="column">
    <h3><a href="/orgChart">Organizational Chart</a></h3>
    <p>
      Shows who the key people are around here & how their positions relate to each other.
    </p>
  </div>
</div>

<p>
  Questions about the any of the information here can be directed to <a href="mailto:arobbins@firstindianarobotics.org">FIN President Ashley Robbins</a> or <a href="mailto:lbyers@firstindianarobotics.org">Chairman of the Board Logan Byers</a>.
</p>