<h1>Policies</h1>

<% data.sections.each do |code, title| %>
  <h2 id="section-<%= code %>"><%= code %> - <%= title %></h2>

  <% sitemap.resources.select { |r| r.path.match?(/^policies\//) && r.data[:section] == code}.sort_by{|r| r.data[:number].to_i }.each do |policy| %>
    <article class="<%= policy.data[:draft] ? 'draft' : 'policy' %>">
      <h3 id="<%= policy.data[:section] %>.<%= policy.data[:number] %>">
        <% if policy.data[:draft] %>DRAFT<% end %>
        <%= policy.data[:section] %>.<%= policy.data[:number] %> <%= policy.data[:title] %>
      </h3>

      <%= ad File.read(policy.source_file) %>
    </article>
  <% end %>
<% end %>